body {
  background-color: rgb(24, 23, 23);
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 3.125rem;
}

.botao {
  font-family: "Montserrat", sans-serif;
  color: white;
  text-align: center;
  margin: 6.25rem auto 0;
  padding: .625rem;
  border: .125rem solid rgb(132, 40, 148);
  border-radius: .625rem;
  background-color: rgba(255, 255, 255, 0.1);
  font-size: 1.25rem;
  max-width: 12.5rem;
  display: flex;
  cursor: pointer;
}

.botao:hover{
  background-color: rgb(132, 40, 148);
}

p {
  font-family: "Montserrat", sans-serif;
  font-size: 2.5rem;
  color: white;
  text-align: center;
  margin: 0;
  padding-bottom: 3.125rem;
  
}

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.875rem;
}

.imagem img {
  width: 12.5rem;
  height: 12.5rem;
  display: flex;
  border: 2px solid rgb(24, 23, 23);
}

.imagem-gatos {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: .9375rem; /*borda redonda*/
}

.imagem {
  margin: 0;
  cursor: pointer;
}

figcaption {
  font-family: "Montserrat", sans-serif;
  color: gray;
  font-size: .9375rem;
  margin-top: .9375rem;
  text-align: center;
}

.imagem:hover figcaption{
  filter: brightness(2)
}

.imagem:hover img{
  border: 2px solid #fff;
}

.adicionar {
  opacity: 0.5;
  filter: grayscale(100%);
}

.adicionar:hover{
  opacity: 1;
}
